div{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
}

html {
    background-color: #E5E7EB;
}

.cbody{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: #2b2a33;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 363px;
    height: 570px;
}

.cinput{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 16px 16px 16px;
    flex: 3;
}

.row1,.row2,.row3,.row4,.row5{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.program{
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers,.sign,.mode , .equals{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.numbers:hover,.sign:hover,.mode:hover , .equals:hover{
    cursor: pointer;
    opacity: 70%;
}

.numbers{
    background-color: #39FF14;
}

.sign , .equals{
    background-color: orange;
}

.mode{
    background-color: aqua;
}

#zero{
    display: flex;
    width: 160px;
}
.screen{
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid black;
    background-color: rgb(245,245,245);
    margin: 16px;
    flex-wrap: wrap;

}

.display{
    align-items: end;
    margin: 8px;
    background-color: rgb(245,245,245);
}

